 {% extends 'admin/index.html.twig' %}

    {% block title %}Ajout d'un article{% endblock %}
    
    {% block body %}
            <!-- Page Header -->
            <header class="masthead" style="background-image: url('{{ asset('clean/img/home-bg.jpg') }}')">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-10 mx-auto">
                            <div class="site-heading">
                                <h1>Clean Blog</h1>
                                <span class="subheading">A Blog Theme by Start Bootstrap</span>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Main Content -->
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <h1>Ajout d'un article</h1>
                        {{ form(form) }}
                    </div>
                </div>
            </div>
    {% endblock %}