{% extends 'admin.html.twig' %}

{% block title %}Admin Home
{% endblock %}

{% block body %}

	<!-- Page content-->
	<div class="container">
		<div class="text-center mt-5">
			<h1>Admin Home</h1>
			<p class="lead">Bienvenue !</p>
			<p>Bootstrap v5.0.1</p>
		</div>
	</div>
{% endblock %}
