{% extends 'admin/sbadmin.html.twig' %}

{% block title %}Show categories
{% endblock %}

{% block body %}
	<div class="card mb-4">
		<div class="card-header">
			<i class="fas fa-table me-1"></i>
			DataTable Example
		</div>
		<div class="card-body">
			<table id="datatablesSimple">
				<thead>
					<tr>
						<th>Name</th>
                        <th>Actions</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<th>Name</th>
                        <th>Actions</th>
					</tr>
				</tfoot>
				<tbody>
					{% for category in categories %}
						<tr>
							<td>{{ category.name }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}
