{% extends 'admin/sbadmin.html.twig' %}

{% block title %}Show categories
{% endblock %}

{% block body %}
{% dump(categories) %}
	<div class="card mb-4">
		<div class="card-header">
			<i class="fas fa-table me-1"></i>
			DataTable Example
		</div>
		<div class="card-body">
			<table id="datatablesSimple">
				<thead>
					<tr>
						<th>Id</th>
						<th>Parent</th>
						<th>Nom</th>
						<th>Slug</th>						
					</tr>
				</thead>
				<tfoot>
					<tr>
						<th>Id</th>
						<th>Parent</th>
						<th>Nom</th>
						<th>Slug</th>						
					</tr>
				</tfoot>
				<tbody>
                {% for category in categories %}                    
					<tr>
						<td>{{ category.Id }}</td>
						<td>{{ category.Parent }}</td>
						<td>{{ category.Name }}</td>
						<td>{{ category.Slug }}</td>						
					</tr>
                {% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}
